:root{
	/* role colors */
	--bg-color: var(--white);
	--text-color: var(--black);
	--emphasis-color-1: var(--green);
	--emphasis-color-2: var(--blue);
	--emphasis-color-3: var(--red);
	--nav-bg-color: var(--black);
	--nav-color-1: var(--green);
	--nav-color-2: var(--blue);
	--nav-color-3: var(--red);
	--nav-color-4: var(--yellow);
	--nav-color-5: var(--white);

	/* base styles */
	background-color: var(--bg-color);
	color: var(--text-color);
}
@media(prefers-color-scheme: dark){
	:root{
		--bg-color: var(--black);
		--text-color: var(--white);
		--emphasis-color-1: var(--green-accent);
		--emphasis-color-2: var(--blue-accent);
		--emphasis-color-3: var(--red-accent);
	}
}

h1{
	color: var(--emphasis-color-1);
}

h2{
	color: var(--emphasis-color-2);
}

h3{
	color: var(--emphasis-color-3);
}

h4{
	color: var(--emphasis-color-1);
}

h5{
	color: var(--emphasis-color-2);
}

h6{
	color: var(--emphasis-color-3);
}

a{
	color: var(--emphasis-color-1);
}

a:visited{
	color: var(--emphasis-color-2);
}

a:active,
a:hover{
	color: var(--emphasis-color-3);
}

li::marker{
	color: var(--emphasis-color-1);
}

ul.flat-list li::before{
	color: var(--emphasis-color-1);
}

hr{
	color: var(--emphasis-color-1);
}

.bordered-figure img{
	border: 4px solid var(--emphasis-color-3);
}

/* navigation */

header.top-navigation{
	background-color: var(--nav-bg-color);
	color: var(--nav-color-4);
	border: 2px solid var(--nav-color-4);
}

.site-title{
	background: var(--nav-color-5);
	color: var(--nav-color-1);
}

.site-title a{
	color: var(--nav-color-1);
}

.site-title a:visited {
	color: var(--nav-color-2);
}

.site-title a:active,
.site-title a:hover{
	color: var(--nav-color-3);
}

nav.main-menu ul > li{
	background-color: var(--nav-color-4);
	color: var(--nav-color-2);
}

nav.main-menu ul a{
	color: var(--nav-color-2);
}

nav.main-menu ul a:visited{
	color: var(--nav-color-2);
}

nav.main-menu ul a:active,
nav.main-menu ul a:hover{
	color: var(--nav-color-3);
}

.posting-dates th{
	color: var(--emphasis-color-2);
}
.posting-dates td{
	color: var(--emphasis-color-3);
}