html{
	--dark-vermilion: #a43e32;
	--dark-viridian: #204036;
	--gold: #ffd700;
	--green: #598135;
	--light-green: #66B032; /* --monospace: "Source Code Pro", monospace; */
	--orange: #f70;
	--sans-serif: "Atkinson Hyperlegible", sans-serif;
	--serif: "Spectral", serif;
	--vermilion: #e34234;
	--viridian: #40806c;
	background-color: #fff;
	color: var(--dark-viridian);
	font-family: var(--sans-serif);
	font-size: 14pt;
	padding: 0;
}

h1{
	color: var(--vermilion);
	font-family: var(--serif);
	font-size: 2.2rem;
	text-align: center;
}

h2{
	color: var(--green);
	font-family: var(--serif);
	font-size: 1.8rem;
	text-align: center;
}

h3{
	color: var(--viridian);
	font-family: var(--serif);
	font-size: 1.6rem;
}

h4{
	color: var(--viridian);
	font-family: var(--serif);
	font-size: 1.4rem;
}

h5{
	color: var(--viridian);
	font-family: var(--serif);
	font-size: 1.2rem;
}

h6{
	color: var(--viridian);
	font-family: var(--serif);
	font-size: 1rem;
}

a{
	color: var(--viridian);
	text-decoration: underline;
}

a:visited{
	color: var(--green);
}

a:active,
a:hover{
	color: var(--vermilion);
	text-decoration: underline;
	text-decoration-style: double;
}

ul{
	list-style-type: square;
}

li{
	margin-top: 0.25em;
}

li::marker{
	color: var(--vermilion);
}

ul.language-list{
	list-style-type: circle;
}

ul.unbulleted-list > li{
	list-style-type: none;
	margin-top: 0.5em;
}

ul.flat-list{
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.flat-list li{
	display: inline-block;
	margin: 0;
}

ul.flat-list li::before{
	color: var(--viridian);
	content: "▪ ";
}

ul.flat-list li:first-child::before{
	content: none;
}

ul.language-list{
	margin: 0;
}

ul.language-list li{
	margin-top: 0;
}

ul.language-list li::marker{
	color: currentColor;
}

ul.flat-list.language-list li::before{
	color: currentColor;
	content: "• ";
}

ul.flat-list.language-list li:first-child::before{
	content: none;
}

hr{
	color: var(--vermilion);
}

figure{
	margin: 2rem auto;
	text-align: center;
}

figure img{
	height: 8em;
}

figure figcaption{
	margin-top: 1rem;
}

header.top-navigation{
	background-color: var(--viridian);
	border-radius: 1rem;
	color: var(--gold);
	padding: 1rem;
}

.site-title{
	border: 2px solid var(--vermilion);
	color: var(--gold);
	display: table;
	font-family: var(--serif);
	font-size: 260%;
	margin: auto;
	padding: 1rem;
	text-align: center;
}

.site-title a,
.site-title a:visited{
	color: var(--gold);
}

.site-title a:active,
.site-title a:hover{
	color: var(--orange);
}

nav.main-menu ul{
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-around;
	margin: 1rem auto auto auto;
	text-align: center;
}

nav.main-menu ul > li{
	background-color: var(--gold);
	border-radius: 0.5rem;
	color: var(--dark-viridian);
	display: inline-block;
	flex-shrink: 0;
	list-style-type: none;
	padding: 0.5rem;
	position: relative;
}

nav.main-menu ul ul{
	margin: auto;
}

nav.main-menu ul ul > li{
	padding: 0;
}

nav.main-menu ul .flat-list,
nav.main-menu ul .language-list{
	display: inline-block;
}

nav.main-menu ul > li::marker{
	content: none;
}

nav.main-menu ul a{
	color: var(--dark-viridian);
}

nav.main-menu ul a:visited{
	color: var(--dark-viridian);
}

nav.main-menu ul a:active,
nav.main-menu ul a:hover{
	color: var(--dark-vermilion);
}

main{
	margin: 0 auto;
	padding: 1rem;
	width: 75%;
}

.cc-icons{
	height: 2em;
	vertical-align: middle;
}

.translation-link{
	font-family: var(--serif);
	font-size: 1.2rem;
	font-style: italic;
	margin-top: 1em;
	text-align: center;
}

.short-message{
	text-align: center;
}

.email{
	font-weight: bold;
}

.centered-list{
	display: table;
	margin: 0 auto;
	max-width: 100%;
}
