@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@font-face {
	font-family: "Atkinson Hyperlegible";
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102a.woff2) format("woff2");
}
@font-face {
	font-family: "Atkinson Hyperlegible";
	font-style: italic;
	font-weight: 400;
	src: url(../fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102a.woff2) format("woff2");
}
@font-face {
	font-family: "Atkinson Hyperlegible";
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102a.woff2) format("woff2");
}
@font-face {
	font-family: "Atkinson Hyperlegible";
	font-style: italic;
	font-weight: 700;
	src: url(../fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102a.woff2) format("woff2");
}

/* site-wide styles */

:root{
	/* fonts */
	--sans-serif: "Atkinson Hyperlegible", sans-serif;
	--serif: "Spectral", serif;
	--monospace: "Source Code Pro", monospace;

	/* named colors */
	--vermilion: #e34234;
	--dark-vermilion: #a43e32;
	--viridian: #40806c;
	--dark-viridian: #204036;
	--light-viridian: #62c7a7;
	--mid-light-viridian: #51a38a;
	--gold: #ffd700;
	--green: #598135;
	--dark-green: #364f20;
	--light-green: #66B032;
	--orange: #f70;

	/* role colors */
	--bg-color: #fff;
	--text-color: var(--dark-viridian);
	--emphasis-color-1: var(--vermilion);
	--emphasis-color-2: var(--green);
	--emphasis-color-3: var(--viridian);

	/* base styles */
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: var(--sans-serif);
	font-size: 14pt;
	padding: 0;
}
@media (prefers-color-scheme: dark) {
	:root{
		--bg-color: #000;
		--emphasis-color-2: var(--light-green);
		--emphasis-color-3: var(--light-viridian);
		--text-color: var(--mid-light-viridian);
	}
}

main{
	margin: 0 auto;
	padding: max(5%, 1rem);
	display: table;
}

h1{
	color: var(--emphasis-color-1);
	font-family: var(--serif);
	font-size: 2.2rem;
	text-align: center;
}

h2{
	color: var(--emphasis-color-2);
	font-family: var(--serif);
	font-size: 1.8rem;
	text-align: center;
}

h3{
	color: var(--emphasis-color-3);
	font-family: var(--serif);
	font-size: 1.6rem;
}

h4{
	color: var(--emphasis-color-3);
	font-family: var(--serif);
	font-size: 1.4rem;
}

h5{
	color: var(--emphasis-color-3);
	font-family: var(--serif);
	font-size: 1.2rem;
}

h6{
	color: var(--emphasis-color-3);
	font-family: var(--serif);
	font-size: 1rem;
}

a{
	color: var(--emphasis-color-3);
	text-decoration: underline;
}

a:visited{
	color: var(--emphasis-color-2);
}

a:active,
a:hover{
	color: var(--emphasis-color-1);
	text-decoration: underline;
	text-decoration-style: double;
}

ul{
	list-style-type: square;
}

li{
	margin-top: 0.25em;
}

li::marker{
	color: var(--emphasis-color-1);
}

ul.language-list{
	list-style-type: circle;
}

ul.unbulleted-list > li{
	list-style-type: none;
	margin-top: 0.5em;
}

ul.flat-list{
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

ul.flat-list li{
	display: inline;
	margin: 0;
	vertical-align: top;
}

ul.flat-list li::before{
	color: var(--emphasis-color-3);
	content: "▪ ";
}

ul.flat-list li:first-child::before{
	content: none;
}

ul.language-list{
	margin: 0;
}

ul.language-list li{
	margin-top: 0;
}

ul.language-list li::marker{
	color: currentColor;
}

ul.flat-list.language-list li::before{
	color: currentColor;
	content: "• ";
}

ul.flat-list.language-list li:first-child::before{
	content: none;
}

h1 ul.flat-list li,
h2 ul.flat-list li,
h3 ul.flat-list li,
h4 ul.flat-list li,
h5 ul.flat-list li,
h6 ul.flat-list li{
	display: inline-block;
}

hr{
	color: var(--emphasis-color-1);
}

figure{
	margin: 2rem auto;
	text-align: center;
}
figure img{
	height: 8em;
}
figure figcaption{
	margin-top: 1rem;
}
.bordered-figure img{
	border: 4px solid var(--emphasis-color-3);
}

/* navigation */

header.top-navigation{
	background-color: var(--viridian);
	border-radius: 1rem;
	color: var(--gold);
	min-width: fit-content;
	padding: 1rem;
}

.site-title{
	border: 2px solid var(--vermilion);
	border-radius: 1rem;
	color: var(--gold);
	font-family: var(--serif);
	font-size: 260%;
	margin: auto;
	max-width: fit-content;
	padding: 1rem;
	text-align: center;
}

.site-title a,
.site-title a:visited{
	color: var(--gold);
}

.site-title a:active,
.site-title a:hover{
	color: var(--orange);
}

nav.main-menu ul{
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-around;
	margin: 1rem auto auto auto;
	text-align: center;
}

nav.main-menu ul > li{
	background-color: var(--gold);
	border-radius: 0.5rem;
	color: var(--dark-viridian);
	display: inline-block;
	list-style-type: none;
	padding: 0.5rem;
	position: relative;
}

nav.main-menu ul ul{
	margin: auto;
}

nav.main-menu ul ul > li{
	padding: 0;
}

nav.main-menu ul .flat-list{
	display: inline-block;
}

nav.main-menu ul > li::marker{
	content: none;
}

nav.main-menu ul a{
	color: var(--dark-viridian);
}

nav.main-menu ul a:visited{
	color: var(--dark-green);
}

nav.main-menu ul a:active,
nav.main-menu ul a:hover{
	color: var(--dark-vermilion);
}

.translation-link{
	font-family: var(--serif);
	font-size: 1.2rem;
	font-style: italic;
	margin-top: 1em;
	text-align: center;
}

/* verse */

.verse{
	margin: auto;
	display: table;
}
.verse p{
	text-align: initial;
	text-indent: 0;
	margin-top: 0;
}
.verse p + p{
	margin-top: 1em;
}
.verse p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}
.verse p > span + br{
	display: none;
}

/* other styles */

.cc-icons{
	height: 2em;
	vertical-align: middle;
}

.current-page {
	font-weight: bold;
}

.short-message{
	text-align: center;
}

.email{
	font-weight: bold;
}

.centered-list{
	margin: 0 auto;
	max-width: fit-content;
}

.posting-dates{
	text-align: center;
	font-style: italic;
	font-family: var(--serif);
}

.captioned-audio{
	margin: 2rem auto;
}
.captioned-audio audio a{
	font-weight: bold;
}