@font-face{
	font-family: "Atkinson Hyperlegible";
	src: url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
}

:root{
	--dark-viridian: #204036;
	--gold: #ffd700;
	--green: #66b032;
	--vermilion: #e34234;
	--viridian: #40806c;
}

html{
	background-color: linen;
	color: var(--dark-viridian);
	font-family: "Atkinson Hyperlegible", sans-serif;
	padding: 0;
}

a{
	color: var(--viridian);
}

a:visited{
	color: var(--viridian);
}

a:active,
a:hover{
	color: var(--vermilion);
}

ul > li::marker{
	color: var(--vermilion);
	content: "â§ ";
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: normal;
}

h1{
	font-size: 220%;
	text-align: center;
}

h2{
	font-size: 200%;
}

h3{
	font-size: 180%;
}

h4{
	font-size: 160%;
}

h5{
	font-size: 140%;
}

h6{
	font-size: 120%;
}

header.top-navigation{
	background-color: var(--viridian);
	border-radius: 1rem;
	color: var(--gold);
	padding: 1rem;
	position: sticky;
	top: 0;
	z-index: 0;
}

header.top-navigation a{
	text-decoration: none;
}

header.top-navigation nav.main-menu .site-title{
	font-size: 260%;
	padding: 1rem;
	text-align: center;
}

header.top-navigation nav.main-menu .site-title > span{
	background-color: var(--green);
	border-radius: 0.5em;
	padding: 0.5em;
}

header.top-navigation nav.main-menu ul{
	align-items: center;
	display: flex;
	gap: 1rem;
	justify-content: space-around;
	list-style: none;
	text-align: center;
}

header.top-navigation nav.main-menu ul > li{
	list-style-type: none;
}

header.top-navigation nav.main-menu ul > li::marker{
	content: none;
}

header.top-navigation nav.main-menu ul a{
	background-color: var(--gold);
	border-radius: 0.5em;
	padding: 0.5em;
}

header.top-navigation nav.main-menu ul a:active,
header.top-navigation nav.main-menu ul a:hover{
	background-color: var(--vermilion);
	color: var(--gold);
}

main{
	padding: 1rem;
}

.site-index{
	display: table;
	margin: 0 auto;
	max-width: 100%;
	position: relative;
	width: auto;
}

footer{
	border-top: 1px solid currentColor;
	font-style: italic;
	text-align: center;
}

footer .cc-info a{
	display: inline-block;
}
