@font-face{
	font-family: "Atkinson Hyperlegible";
	src: url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
}

html{
	--cursive: "Petit Formal Script", cursive;
	--dark-viridian: #204036;
	--fantasy: fantasy;
	--gold: #ffd700;
	--green: #598135;
	--monospace: "Source Code 4", monospace;
	--sans-serif: "Atkinson Hyperlegible", sans-serif;
	--serif: "PT Serif", serif;
	--vermilion: #e34234;
	--viridian: #40806c;
	background-color: #fff;
	color: var(--dark-viridian);
	font-family: var(--sans-serif);
	font-size: 12pt;
	padding: 0;
}

h1{
	font-size: 2.2rem;
}

h2{
	font-size: 1.8rem;
}

h3{
	font-size: 1.6rem;
}

h4{
	font-size: 1.4rem;
}

h5{
	font-size: 1.2rem;
}

h6{
	font-size: 1rem;
}

a{
	color: var(--viridian);
	text-decoration: underline;
}

a:visited{
	color: var(--green);
}

a:active,
a:hover{
	color: var(--vermilion);
	text-decoration: underline;
}

ul{
	list-style-type: square;
}

ul > li::marker{
	color: var(--vermilion); /* content: "âƒ "; */
}

header.top-navigation{
	background-color: var(--viridian);
	border-radius: 1rem;
	color: var(--gold);
	padding-bottom: 1rem;
	padding-top: 1rem;
}

header.top-navigation a{
	text-decoration: none;
}

header.top-navigation nav.main-menu .site-title{
	border: 2px solid var(--vermilion);
	color: var(--gold);
	display: table;
	font-family: var(--serif);
	font-size: 260%;
	margin: auto auto 1rem auto;
	padding: 1rem;
	text-align: center;
}

header.top-navigation nav.main-menu ul{
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-around;
	margin: auto;
	text-align: center;
}

header.top-navigation nav.main-menu ul > li{
	background-color: var(--gold);
	border-radius: 0.5rem;
	display: inline-block;
	flex-shrink: 0;
	list-style-type: none;
	padding: 0.5rem;
	position: relative;
}

header.top-navigation nav.main-menu ul > li::marker{
	content: none;
}

header.top-navigation nav.main-menu ul a{
	color: var(--dark-viridian);
}

header.top-navigation nav.main-menu ul a:visited{
	color: var(--viridian);
}

header.top-navigation nav.main-menu ul a:active,
header.top-navigation nav.main-menu ul a:hover{
	color: var(--vermilion);
}

main{
	padding: 1rem;
}

.site-index{
	display: table;
	margin: 0 auto;
	max-width: 100%;
	position: relative;
	width: auto;
}

footer{
	border-top-style: solid;
	border-top-width: 1px;
	display: table;
	font-style: italic;
	margin: auto;
}

.cc-icons img,
.cc-icons svg{
	height: 1em;
	vertical-align: top;
}
