@font-face{
	font-family: "Atkinson Hyperlegible";
	src: url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
}

html{
	background-color: linen;
	color: #204036;
	font-family: "Atkinson Hyperlegible", sans-serif;
	padding: 0;
}

a{
	color: #8AB800;
}

a:visited{
	color: #40806C;
}

a:active,
a:hover{
	color: #e34234;
}

header.top-navigation{
	position: sticky;
	top: 0;
	z-index: 0;
}

header.top-navigation a{
	text-decoration: none;
}

header.top-navigation nav.main-menu .site-title{
	font-size: 240%;
	padding: 1rem;
	text-align: center;
}

header.top-navigation nav.main-menu ul{
	align-items: center;
	border-bottom-style: solid;
	border-color: #204036;
	border-top-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	display: flex;
	gap: 1rem;
	justify-content: space-around;
	list-style: none;
	padding: 1rem;
	text-align: center;
}

header.top-navigation nav.main-menu ul > li{
	width: 100%;
}

main{
	padding: 1rem;
}

h1{
	font-size: 220%;
	text-align: center;
}

h2{
	font-size: 200%;
}

h3{
	font-size: 180%;
}

h4{
	font-size: 160%;
}

h5{
	font-size: 140%;
}

h6{
	font-size: 120%;
}
